<?xml version="1.0" encoding="utf-8"?>
<!--
For IE version setup, please ref to https://msdn.microsoft.com/en-us/library/ee330730%28v=vs.85%29.aspx
  IE7 = 7000;
  IE9 = 9999;
  IE8 = 8888;
  IE10 = 10001;
  IE11 = 11001;

Registry item:
{ 
  For 64bit system.
    HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\Internet Explorer\MAIN\FeatureControl\FEATURE_BROWSER_EMULATION
  For 32bit system
    HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Internet Explorer\MAIN\FeatureControl\FEATURE_BROWSER_EMULATION
}
-->
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="IE.Version" value="11000"/>
    <add key="IE.Registry.32b" value="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Internet Explorer\MAIN\FeatureControl\FEATURE_BROWSER_EMULATION"/>
    <add key="IE.Registry.64b" value="HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\Internet Explorer\MAIN\FeatureControl\FEATURE_BROWSER_EMULATION"/>
    <add key="ui.url" value="Ui.html"/>
  </appSettings>
</configuration>
